# Name code owners for repository files.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @toasttab/integrations @toasttab/documentation
